.parent-container{
  display: flex;
}
.image-position{
  height: 500px;
  
}
.home-title{
  color:black;
}
.card-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  margin-top: 20px;
}